[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "code"]
	path = code
    url = https://git.code.sf.net/p/giflib/code
    branch = 5.1.4
[submodule "statsd-client-cpp"]
	path = statsd-client-cpp
	url = https://github.com/moseymosey/statsd-client-cpp
[submodule "netpbm"]
	path = netpbm
	url = https://github.com/moseymosey/netpbm.git
[submodule "qt"]
	path = qt
	url = https://code.qt.io/qt/qt5.git
	branch = 5.5.1
