[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "code"]
	path = code
	url = http://git.code.sf.net/p/giflib/code
[submodule "statsd-client-cpp"]
	path = statsd-client-cpp
	url = https://github.com/moseymosey/statsd-client-cpp
[submodule "netpbm"]
	path = netpbm
	url = https://github.com/moseymosey/netpbm.git
[submodule "qt"]
	path = qt
	url = https://github.com/moseymosey/qt
	branch = 4.8
